<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a ref="">Inicio</a></li>
        <li><a ref="/mi_programa">Mi Programa</a></li>
        <li><a ref="/colaboradores">Colaboradores</a></li>
        <li><a ref="/contacto">Contacto</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
